doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="/styles/style.css")
  body
    header
      h1 Book Review App
      nav
        a(href="/") Home
        a(href="/reviews") Reviews
        a(href="/users/login") Login
        a(href="/users/register") Register
      hr
    block content
    footer
      hr
      p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service.